@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow Thin";
  src: url("../fonts/Barlow-Thin.ttf");
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  font-family: "Barlow";
  text-align: center;
  background-color: #30336b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  color: white;
  border-radius: 10px;
}

h1 {
  margin-bottom: 5px;
}

h4 {
  font-family: "Barlow Thin";
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-container {
  width: 300px;
  height: 200px;
  background-color: #f4f7fc;
  /* background-color: red; */
  border: 5px solid white;
  position: relative;
}

.img-container:hover {
  -webkit-box-shadow: 5px 5px 5px #929292;
          box-shadow: 5px 5px 5px #929292;
  border: #ffbe76 5px solid;
}

img {
  -webkit-animation: load 0.7s;
          animation: load 0.7s;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-info {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 5px;
  border-radius: 0 0 2px 0px;
  background-color: #ffbe76;
  font-family: "Barlow";
  font-size: 14px;
  -webkit-animation: load linear 0.4s;
          animation: load linear 0.4s;
}

.svg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.svg-loading {
  -webkit-animation: rotation infinite linear 20s;
          animation: rotation infinite linear 20s;
  fill: gray;
}

#svg-static {
  -webkit-animation: none;
          animation: none;
}

.links {
  margin-bottom: 10px;
  font-family: "Barlow";
  /* background-color: lightpink; */
  padding: 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.links span {
  padding: 5px 10px;
  border-radius: 5px;
}

.links span:first-child {
  color: black;
}

.link1 {
  background-color: #9cc28b;
  cursor: pointer;
}

.link1-selected {
  background-color: #6ab04c;
  cursor: initial;
}

.link2 {
  background-color: #e9bdbc;
  cursor: pointer;
}

.link2-selected {
  background-color: #eb4d4b;
  cursor: initial;
}

.popup-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.popup-container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-meta {
  font-family: "Barlow";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 7px;
  padding: 0 10px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup-top::before {
  content: "";
}

.popup-mid {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  overflow: hidden;
}

.popup-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: initial;
}

#popup-close {
  fill: white;
  -webkit-animation: none;
          animation: none;
  -webkit-transform: scale(2);
          transform: scale(2);
  cursor: pointer;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */