:root {
  --red: #c50000;
  // --red: #b80000;
  --grey1: rgb(193, 193, 193);
  --gold: #977a4a;
  --background: #eee;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-width: 230px;
}

body {
  background: var(--background);
  font-family: "Raleway", sans-serif;
  text-align:center;
  margin: 0;
}

div {
  margin: 1.5rem auto;
}

header {
  min-width: 230px;
  max-width: 900px;
  margin: 1rem auto;
  background: #f8f8f8;
  border: 3px solid rgba(0, 0, 0, 0.08);


  h1 {
    width: 100%;
    position: relative;
    padding: 2rem;
    margin: 0;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 2.5rem;
    color: #080808;

    span {
      display: block;
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      line-height: 3rem;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.api {
  /* sticky bar */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--background);
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  z-index: 10; // to avoid bad overlap

  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
  border: 0;
  gap: 1rem;

  span {
    line-height: 2rem;
    padding: 0 0.1rem;
    width: fit-content;
  }

  .selected {
    border-bottom: 2px solid var(--red);
    quality {
      color: var(--red);
      font-weight: 700;
    }
  }

  .link1, .link2 {
    &:hover {
      cursor: pointer;
      color: var(--gold);
      background-color: white;
    }
  }
}

.sticky {
  box-shadow: rgba(0, 0, 0, 0.201) 1.95px 1.95px 2.6px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: content-box;
  width: 300px;
  height: 200px;
  background-color: var(--background);

  &:hover {
    .info {
      background-color: var(--red);
    }

    img {
      border-color: var(--red);
    }

    .info, img {
      transition: 0.25s;
    }

    cursor: pointer;
  }

  .info {
      background-color: var(--grey1);
      font-size: 0.7rem;
      line-height: 1rem;
      color: white;
      letter-spacing: 0.08rem;
      font-weight: 200;
      padding: 0 0.2rem;
      animation: load linear 0.4s;
      width: fit-content;
  }

  img {
    animation: load 0.7s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    align-items: center;
    border: 3px solid var(--grey1);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.svg-loading {
  width: 2rem;
  height: 2rem;
  animation: rotation infinite linear 20s;
  fill: gray;
}

.hidden {
  display: none;
}

footer {
  width: 100%;
  background-color: var(--grey1);
  color: white;
  margin: auto;
  margin-top: 2rem;
  padding: 4rem;

  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.1rem;

  a, a:visited {
    color: white;     
  }

  span {
    display: block;
  }
}

.gotop {
  z-index: 98;
  margin: 0;
  width: 3.1rem;
  height: 3.1rem;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 4px;
  background-color: var(--gold);
  opacity: 0.95;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  svg {
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }

  &:hover {
    cursor: pointer;
    box-shadow: none;
    border: 1.5px solid #E2CBA4;
  }
}